.header-container {
  display: flex;
  height: 100px;
  align-items: center;
  justify-content: space-between;
  background-color: #fcfbfb;
}

.header-container > div {
  padding: 50px;
}

.nav-container {
  display: flex;
}

.nav-container > div {
  margin: 10px;
}

.title {
}
